@import "../settings.scss";

.collapse {
    margin: 30px 208px;

    @include phone {
      margin: 20px;
    }
  
    .collapse-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $primary-color;
      padding: 12px 20px;
      border-radius: 5px;

      .collapse-arrow {
        &:hover {
          cursor: pointer;
        }

        &.rotate {
          transition: transform 0.2s ease-in-out;
          transform: rotate(-180deg);
        }
  
        &.reverse {
          transition: transform 0.2s ease-in-out;
          transform: rotate(0deg);
        }
      
        img {
          @include phone {
            width: 16px;
          }
        }
      }
  
      h2 {
        color: white;
        font-weight: 500;
        font-size: 24px;

        @include phone{
          font-size: 13px;
        }
      }
  
      button {
        background: none;
        border: none;
      }
    }

    .toggle {
        max-height: 0;
        transition: max-height 0.4s ease-in;
        background-color: $secondary-color;
        border-radius: 5px;
        overflow: hidden;

        &.open {
          max-height: 500px;
        }
    
        &.close {
          max-height: 0;
          transition: max-height 0.4s ease-out;
        }

        .equipments {
          padding: 20px;

          .equipment {
            font-size: 18px;
            line-height: 26px;
          }
        }

        .content {
            padding: 20px;
            font-size: 18px;
            line-height: 26px;
        }
    }
  }

  .housing-collapse {
    width: 100%;
    margin: 0px;
  }