$primary-color: #ff6060;
$secondary-color: #F6F6F6;

body {
  margin: 0px;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $primary-color;
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 768px) {
    @content;
  }
}